*
{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

body
{
    background: #f3f3f3;
}

.WRAPPER
{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 720px;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
}

.left
{
    width: 34%;
    background: linear-gradient(to right,#01a9ac,#01dbdf);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
    padding-top: 70px;

}

 .left img
{
    margin-bottom: 10px;
    border-radius: 5px;
}

.WRAPPER .left
h4{
    margin-bottom: 10px;
}

.WRAPPER .left
p{
    font-size: 12px;
}

.WRAPPER .right
{
    width: 70%;
    background: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px ;
    padding: 30px 25px;
}

.WRAPPER .right .info,
.WRAPPER .right .project
{
    margin-bottom: 60px;
}

.WRAPPER .right .info h3,
.WRAPPER .right .project h3
{
    margin-bottom: 15px;
    padding-bottom: 0px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.WRAPPER .right .info-data,
.WRAPPER .right .project-data
{
    display: flex;
    justify-content: space-between;
}


.WRAPPER .right .info-data .data,
.WRAPPER .right .project-data .data
{
   width:45%;
}

.WRAPPER .right .info-data .data h4,
.WRAPPER .right  .project-data .data h4
{
   color: #353c4e;
   margin-bottom: 5px;
}

.WRAPPER .right .info-data .data p
{
    font-size: 13px;
    color: #919aa3;
}

.WRAPPER .right .info-data .data ul,
.WRAPPER .right  .project-data .data ul
{
    font-size: 13px;
   color: #919aa3;
   padding-top: 10px;
   padding-left: 14px;

}


.WRAPPER .right .info-data .data ul li,
.WRAPPER .right  .project-data .data ul li
{
    justify-content: space-between;
    padding-bottom: 9px;
    color: #919aa3;
    list-style:circle;
   
}

.WRAPPER .social-media ul
{
    display: flex;
}

.WRAPPER .social-media ul li
{
    width: 45px;
    height: 45px;   
    background: linear-gradient(to right,#01a9ac,#01dbdf);
    margin-right: 10px;
    border-radius: 5px;
    line-height: 45px;
    text-align: center;

}



    

.WRAPPER .social-media ul li a
{
    color: #fff;
    display: block;
    font-size: 18px;
}